<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card shadow-6">
    <h2 class="card-title flex justify-content-center">
        <strong>REGISTRO DEL CONSUMO</strong>
    </h2>

  <!-- Fecha y selección -->
  <div class="grid mb-4">
    <!-- Fecha -->
    <div class="col-12 md:col-3 flex align-items-center mt-4">
      <p><strong>Fecha:</strong> {{ today }}</p>
    </div>

    <!-- Tipo de registro -->
    <div class="col-12 md:col-4">
      <label for="tipo"><strong>Tipo de registro:</strong></label>
      <select id="tipo" [(ngModel)]="tipoRegistro" class="w-full p-2 border-round border-1 surface-border">
        <option value="">-- Seleccione --</option>
        <option value="DESAYUNO">DESAYUNO</option>
        <option value="ALMUERZO">ALMUERZO</option>
        <option value="MERIENDA">MERIENDA</option>
      </select>
    </div>

    <!-- Botón -->
    <div class="col-12 md:col-3 flex align-items-center justify-content-center mt-4">
      <button severity="success" pButton label="Comenzar registro" icon="pi pi-play" (click)="startScan()"
        [disabled]="!tipoRegistro">
      </button>
    </div>
  </div>

  <!-- Cámara y estado -->
  <div *ngIf="scanning" class="grid mt-4">
    <div class="col-12 md:col-6">
      <p class="text-center mb-2">{{ scanStatus }}</p>
      <video id="preview" style="width: 100%; height: 300px; border: 2px solid #ccc;" autoplay></video>
    </div>

    <!-- Datos del QR -->
    <div class="flex align-content-center flex-wrap col-12 md:col-6">
      <div *ngIf="qrResult; else noData" class="p-4 border-round bg-gray-100 w-full">
        <h3>Datos del QR:</h3>
        <pre>{{ qrResult }}</pre>
      </div>
      <ng-template #noData>
        <p class="text-center">No se ha detectado ningún código QR aún.</p>
      </ng-template>
    </div>
  </div>
</div>